.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.homehome {
  width: 100%;
  height: 1288px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 251, 229, 1);
}
 
.home-rectangle30 {
  top: 289px;
  left: -160px;
  width: 682px;
  height: 421px;
  position: absolute;
}
 
.home-rectangle29 {
  top: 188px;
  left: 68px;
  width: 277px;
  height: 39px;
  position: absolute;
  border-radius: 28px;
}
 
.home-rectangle32 {
  top: 483px;
  left: 41px;
  width: 167px;
  height: 29px;
  position: absolute;
  border-radius: 28px;
}
 
.home-rectangle31 {
  top: 238px;
  left: 8px;
  width: 396px;
  height: 217px;
  position: absolute;
  border-color: rgba(255, 251, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 28px;
}
 
.home-rectangle23 {
  top: -6px;
  left: -15px;
  width: 427px;
  height: 101px;
  position: absolute;
}
 
.home-menu {
  top: 30px;
  left: 350px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.home-text10 {
  top: 193px;
  left: 62px;
  color: rgba(255, 251, 229, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text11 {
  top: 193px;
  left: 62px;
  color: rgba(255, 251, 229, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text12 {
  top: 486px;
  left: -20px;
  color: rgba(255, 251, 229, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text13 {
  top: 21px;
  left: 162px;
  color: rgba(255, 251, 229, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Aladin;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-searchbar {
  gap: 4px;
  top: 115px;
  left: 26px;
  width: 360px;
  height: 43px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 19px;
  background-color: rgba(184, 157, 188, 0.6200000047683716);
}
 
.home-statelayer1 {
  gap: -16px;
  display: flex;
  padding: 4px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.home-content1 {
  gap: 10px;
  display: flex;
  padding: 0 20px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.home-text14 {
  color: rgba(255, 255, 255, 0.699999988079071);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.home-trailing-elements {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.home-frame1sttrailingicon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-content2 {
  width: 40px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
}
 
.home-statelayer2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-icon1 {
  width: 24px;
  height: 24px;
}
 
.home-frame9 {
  gap: 10px;
  top: 589px;
  left: 14px;
  width: 385px;
  height: 43px;
  display: flex;
  padding: 5px 48px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-size: cover;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
  background-image: url("public/tq_icxv8-xyei-idyn-200h.png");
}
 
.home-text15 {
  color: rgba(255, 251, 229, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame10 {
  gap: 10px;
  top: 650px;
  left: 14px;
  width: 385px;
  height: 43px;
  display: flex;
  padding: 5px 48px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-size: cover;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
  background-image: url("public/tq_m-egwhswdd-fj4o-200h.png");
}
 
.home-text16 {
  color: rgba(255, 251, 229, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame8 {
  gap: 10px;
  top: 528px;
  left: 14px;
  width: 385px;
  height: 43px;
  display: flex;
  padding: 5px 48px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-size: cover;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
  background-image: url("public/tq_o3xxvex3d0-ez8p-200h.png");
}
 
.home-text17 {
  color: rgba(255, 251, 229, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame13 {
  gap: 10px;
  top: 705px;
  left: 159px;
  width: 91px;
  height: 31px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(100, 47, 55, 1);
}
 
.home-text18 {
  color: rgba(255, 251, 229, 1);
  width: 52px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame3d-avatars12 {
  top: 21px;
  left: 25px;
  width: 58px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-avatars3davatar12 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  position: absolute;
  border-color: rgba(255, 251, 229, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 42px;
}
 
.home-rectangle33 {
  top: 954px;
  left: -106px;
  width: 604px;
  height: 481px;
  position: absolute;
}
 
.home-rectangle34 {
  top: 748px;
  left: 15px;
  width: 382px;
  height: 461px;
  position: absolute;
  border-color: rgba(255, 251, 229, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 0 17px;
}
 
.home-rectangle35 {
  top: 768px;
  left: 218px;
  width: 143px;
  height: 28px;
  position: absolute;
  border-radius: 23px;
}
 
.home-frame14 {
  gap: 10px;
  top: 768px;
  left: 195px;
  width: 167px;
  height: 29px;
  display: flex;
  padding: 2px 4px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(255, 251, 229, 1);
}
 
.home-text19 {
  color: rgba(203, 75, 42, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame40 {
  top: 245px;
  left: 14px;
  width: 385px;
  height: 204px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-rectangle40 {
  top: 0px;
  left: 0px;
  width: 385px;
  height: 204px;
  position: absolute;
  border-color: rgba(255, 251, 229, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 22px;
}
 
.home-rectangle41 {
  top: 0px;
  left: 396px;
  width: 385px;
  height: 204px;
  position: absolute;
  border-color: rgba(255, 251, 229, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 22px;
}
 
.home-text20 {
  top: 18px;
  left: 32px;
  color: rgba(255, 251, 229, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text24 {
  top: 18px;
  left: 421px;
  color: rgba(255, 251, 229, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text29 {
  top: 86px;
  left: 26px;
  color: rgba(255, 251, 229, 0.7200000286102295);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text30 {
  top: 86px;
  left: 415px;
  color: rgba(255, 251, 229, 0.7200000286102295);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame22 {
  top: 150px;
  left: 26px;
  width: 68px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home-starfilled1 {
  width: 14px;
  height: 14px;
}
 
.home-starfilled2 {
  width: 13px;
  height: 14px;
}
 
.home-starfilled3 {
  width: 14px;
  height: 14px;
}
 
.home-starfilled4 {
  width: 13px;
  height: 14px;
}
 
.home-starfilled5 {
  width: 14px;
  height: 14px;
}
 
.home-frame24 {
  top: 150px;
  left: 415px;
  width: 68px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home-frame23 {
  gap: 10px;
  top: 161px;
  left: 307px;
  width: 65px;
  height: 24px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(192, 52, 16, 1);
}
 
.home-text31 {
  color: rgba(255, 251, 229, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame25 {
  gap: 10px;
  top: 161px;
  left: 696px;
  width: 65px;
  height: 24px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(192, 52, 16, 1);
}
 
.home-text32 {
  color: rgba(255, 251, 229, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-rectangle37 {
  top: 814px;
  left: 34px;
  width: 347px;
  height: 119px;
  position: absolute;
  border-radius: 0 10px;
}
 
.home-rectangle381 {
  top: 942px;
  left: 34px;
  width: 347px;
  height: 119px;
  position: absolute;
  border-radius: 0 10px;
}
 
.home-rectangle39 {
  top: 1070px;
  left: 34px;
  width: 347px;
  height: 119px;
  position: absolute;
  border-radius: 0 10px;
}
 
.home-frame17 {
  gap: 8px;
  top: 821px;
  left: 47px;
  width: 315px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home-rectangle382 {
  width: 112px;
  height: 103px;
  border-radius: 4px;
}
 
.home-frame161 {
  gap: 3px;
  width: 195px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text33 {
  color: rgba(65, 63, 3, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.home-text34 {
  color: rgba(58, 65, 81, 1);
  width: 185px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame18 {
  gap: 8px;
  top: 949px;
  left: 47px;
  width: 315px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home-rectangle383 {
  width: 112px;
  height: 103px;
  border-radius: 4px;
}
 
.home-frame162 {
  gap: 3px;
  width: 195px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text35 {
  color: rgba(65, 63, 3, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.home-text36 {
  color: rgba(58, 65, 81, 1);
  width: 185px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame20 {
  gap: 8px;
  top: 1077px;
  left: 47px;
  width: 315px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.home-rectangle384 {
  width: 112px;
  height: 103px;
  border-radius: 4px;
}
 
.home-frame163 {
  gap: 3px;
  width: 195px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text37 {
  color: rgba(65, 63, 3, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Verona-Medium;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.home-text38 {
  color: rgba(58, 65, 81, 1);
  width: 185px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame15 {
  gap: 10px;
  top: 902px;
  left: 303px;
  width: 59px;
  height: 22px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(100, 47, 55, 1);
}
 
.home-text39 {
  color: rgba(255, 251, 229, 1);
  width: 42px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame19 {
  gap: 10px;
  top: 1030px;
  left: 303px;
  width: 59px;
  height: 22px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(100, 47, 55, 1);
}
 
.home-text40 {
  color: rgba(255, 251, 229, 1);
  width: 42px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-frame21 {
  gap: 10px;
  top: 1158px;
  left: 303px;
  width: 59px;
  height: 22px;
  display: flex;
  padding: 1px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(100, 47, 55, 1);
}
 
.home-text41 {
  color: rgba(255, 251, 229, 1);
  width: 42px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Ysabeau Infant;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-pagecontrol {
  top: 416px;
  left: 20px;
  width: 402px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-frame {
  gap: 8px;
  top: 5px;
  left: 176px;
  width: 48px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
}
 
.home-dot1 {
  width: 8px;
  height: 8px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(255, 251, 229, 1);
}
 
.home-dot2 {
  width: 8px;
  height: 8px;
  display: flex;
  opacity: 0.30;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
 
.home-link {
  display: contents;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon2 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text42 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
